{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="container">
<h4>Consent Form</h4>
<p> TODO: Add consent form content and download method. </p>

<form action="/consented" method="POST">
    <p> Do you consent? A copy of the consent form is availible for download <a href="https://drive.google.com/file/d/1-Fo7eaEw8hKMQolGbInookhytDi-ss6E/view?usp=sharing" target="_blank">here</a></p> 
    <div class="form-check">
      <input class="form-check-input" type="radio" name="consent" id="consent_y" value="y">
      <label class="form-check-label" for="consent_y">
        Yes
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="consent" id="consent_n" value="n">
      <label class="form-check-label" for="consent_n">
        No
      </label>
    </div>
    <input type="submit">
</form>
</div>

{% endblock %}
