{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="container">
  <h2>Use Experience</h2>
  <p>10 questions about ease of use</p>

  <br><br>
  <form action="/eou-submit" method="POST">
    {% for subfield in form.q1 %}
      <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
      </tr>
    {% endfor %}
    <br>
    {% for subfield in form.q2 %}
      <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
      </tr>
    {% endfor %}
    <br/>
    {{ form.submit(class="btn btn-outline-primary") }}
<!--    <input type="submit" value="Next Page" style="float: right;">-->
  </form>
</div>

{% endblock %}
