{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="container">
  <h4>Ease of Use Survey</h4>

  <br/>
  <form method="POST">
    <div class="eou-question">
      <big>What was your experience like using the tagging interface?
        Would you like to use such a system in the future?<br/>
        If not, what features would make you more interested in using it?
        (max 500 characters)
      </big>
    </div>
    {{ form.tag_potential(class="form-control") }}
    <br/>

    {{ form.hidden_tag() }}
    <div class="eou-question">
      <big>{{ descriptions[0] }}</big>
    </div>
    <table>
      {% for subfield in form.q0 %}
      <tr>
          <td>{{ subfield }} &nbsp&nbsp</td>
          <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
    </table>
    <br/>

    <div class="eou-question">
      <big>{{ descriptions[1] }} </big>
    </div>
    <table>
      {% for subfield in form.q1 %}
      <tr>
          <td>{{ subfield }} &nbsp&nbsp</td>
          <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
    </table>
    <br/>

    <div class="eou-question">
      <big>{{ descriptions[2] }}</big>
    </div>
    <table>
      {% for subfield in form.q2 %}
      <tr>
          <td>{{ subfield }} &nbsp&nbsp</td>
          <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
    </table>
    <br/>

    <div class="eou-question">
      <big>{{ descriptions[3] }}</big>
    </div>
    <table>
      {% for subfield in form.q3 %}
      <tr>
          <td>{{ subfield }} &nbsp&nbsp</td>
          <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
    </table>
    <br/>

    <div class="eou-question">
      <big>{{ descriptions[4] }}</big>
    </div>
    <table>
      {% for subfield in form.q4 %}
      <tr>
          <td>{{ subfield }} &nbsp&nbsp</td>
          <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
    </table>
    <br/>

    <div class="eou-question">
      <big>{{ descriptions[5] }}</big>
    </div>
    <table>
      {% for subfield in form.q5 %}
      <tr>
          <td>{{ subfield }} &nbsp&nbsp</td>
          <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
    </table>
    <br/>

    <div class="eou-question">
      <big>{{ descriptions[6] }}</big>
    </div>
    <table>
      {% for subfield in form.q6 %}
      <tr>
          <td>{{ subfield }} &nbsp&nbsp</td>
          <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
    </table>
    <br/>

    <div class="eou-question">
      <big>{{ descriptions[7] }}</big>
    </div>
    <table>
      {% for subfield in form.q7 %}
      <tr>
          <td>{{ subfield }} &nbsp&nbsp</td>
          <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
    </table>
    <br/>

    <div class="eou-question">
      <big>{{ descriptions[8] }}</big>
    </div>
    <table>
      {% for subfield in form.q8 %}
      <tr>
          <td>{{ subfield }} &nbsp&nbsp</td>
          <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
    </table>
    <br/>

    <div class="eou-question">
      <big>Is there any other feedback you would like to share? (max 500 characters)</big>
    </div>
    {{ form.open_ended(class="form-control") }}
    <br/>
    {{ form.submit(class="btn btn-outline-primary") }}
  </form>
</div>

{% endblock %}
