{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="container">
  <h2>Use Experience</h2>

  <br><br>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ descriptions[0] }}
    <br/>
    <table>
      {% for subfield in form.q0 %}
      <tr>
          <td>{{ subfield }} &nbsp&nbsp</td>
          <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
    </table>
    <br/>

    {{ descriptions[1] }}
    <br/>
    <table>
      {% for subfield in form.q1 %}
      <tr>
          <td>{{ subfield }} &nbsp&nbsp</td>
          <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
    </table>
    <br/>

    {{ descriptions[2] }}
    <br/>
    <table>
      {% for subfield in form.q2 %}
      <tr>
          <td>{{ subfield }} &nbsp&nbsp</td>
          <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
    </table>
    <br/>

    {{ descriptions[3] }}
    <br/>
    <table>
      {% for subfield in form.q3 %}
      <tr>
          <td>{{ subfield }} &nbsp&nbsp</td>
          <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
    </table>
    <br/>

    {{ descriptions[4] }}
    <br/>
    <table>
      {% for subfield in form.q4 %}
      <tr>
          <td>{{ subfield }} &nbsp&nbsp</td>
          <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
    </table>
    <br/>

    {{ descriptions[5] }}
    <br/>
    <table>
      {% for subfield in form.q5 %}
      <tr>
          <td>{{ subfield }} &nbsp&nbsp</td>
          <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
    </table>
    <br/>

    {{ descriptions[6] }}
    <br/>
    <table>
      {% for subfield in form.q6 %}
      <tr>
          <td>{{ subfield }} &nbsp&nbsp</td>
          <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
    </table>
    <br/>

    {{ descriptions[7] }}
    <br/>
    <table>
      {% for subfield in form.q7 %}
      <tr>
          <td>{{ subfield }} &nbsp&nbsp</td>
          <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
    </table>
    <br/>

    {{ descriptions[8] }}
    <br/>
    <table>
      {% for subfield in form.q8 %}
      <tr>
          <td>{{ subfield }} &nbsp&nbsp</td>
          <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
    </table>
    <br/>

    {{ form.submit(class="btn btn-outline-primary") }}
  </form>
</div>

{% endblock %}
