{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="container">
  You are done with the study. Thank you!
  {% if finished == 3 %}
  <p>
    We'll send you the Amazon eGift card number to your email
    <strong>{{ email }}</strong>.
  </p>
  {% endif %}
  {% if finished < 3 and finished > 0 %}
  <form method="POST">
    {{ form.hidden_tag() }}
    <p> Thanks for attending the study! </p>
    <p>
      Will you be interested in attending a paid interview online for
      more feedback? <br/>
      It will be around 20 minutes with $10 Amazon gift card as compensation.
    </p>
    <table>
      {% for subfield in form.interview %}
      <tr>
        <td>{{ subfield }} &nbsp&nbsp </td>
        <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
    </table>

    <br/>
    {% if email is not none and finished == 1 %}
    <p>
      Please confirm <strong>{{ email }}</strong> is your email address
      to receive eGift card number.
    </p>
      <table>
        {% for subfield in form.email_confirm %}
        <tr>
            <td>{{ subfield }} &nbsp&nbsp</td>
            <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
      </table>
      If no, please specify: {{ form.email }}
    {% endif %}
    {% if email is none or finished == 2 %}
      <p> What's your email? </p>
      {{ form.email }}
    {% endif %}
    <br/><br/>
    {{ form.submit(class="btn btn-outline-primary") }}
  </form>
  {% endif %}
</div>
{% endblock %}