{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
  <h2>System Outcome Satisfaction Level Rating</h2>
  <p>
    In this section, we’ll provide you four different scenarios,
    each with their own set of outcomes. Each scenario contains
    two routines that have conflicting commands on the same device
    over some period of time. Please rate your satisfaction with each
    outcome.
  </p>

  <br><br>
  <h4> Scenario {{ idx }} </h4>
  <form action="{{ url_for('scenario', idx=idx )}}" method="POST">
    <div class="indented">
      <p> {{ scn_description }} </p>
      <br/>
      <p> How satisfied are you for following system outcomes?</p>
      <br/>
      <!--------------------->
      <!--  First outcome  -->
      <!--------------------->
      <p> {{ outcome[0]['description'] }} </p>
      <img src="{{ url_for('static', filename=outcome[0]['photo']) }}"
        width="750px"/>
      <table>
        {% for subfield in oc_form.oc1 %}
        <tr>
          <td>{{ subfield }} &nbsp&nbsp</td>
          <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
      </table>

      <br/><br/>
      <!---------------------->
      <!--  Second outcome  -->
      <!---------------------->
      {% if outcome|length > 1 %}
        <p> {{ outcome[1]['description'] }} </p>
        <img src="{{ url_for('static', filename=outcome[1]['photo']) }}"
          width="750px"/>
        <table>
          {% for subfield in oc_form.oc2 %}
          <tr>
            <td>{{ subfield }} &nbsp&nbsp</td>
            <td>{{ subfield.label }}</td>
          </tr>
          {% endfor %}
        </table>
        <br/><br/>
      {% endif %}

    </div>

  <!--   Browsing among different routines   -->
    {% if idx > 1 %}
      <input class="btn btn-outline-secondary"
             type="submit" name="scn-page-action" value="Previous">
    {% endif %}
    {% if idx < total_scn %}
      <input class="btn btn-outline-secondary"
             type="submit" name="scn-page-action" value="Next">
    {% else %}
      <input class="btn btn-outline-primary"
             type="submit" name="scn-page-action" value="Finish">
    {% endif %}
  </form>

</div>

{% endblock %}
