{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="container">
  Some brief definition (for user's convenience)
  <h3>Interface Overview</h3>
  <p>The interface you see below is what you will be using in this study. On the left hand side of the interface, you see 
    the routine listed, and its associated commands, aong with their respective boxes. In those boxes are where you can drag 
    and drop tags from the menus on the right hand side of the screen. The top menu lists the two "System Tags" you can assign
    a routine of command: Uninterruptible meaning that the system should not interrupt this routine or command under any circumstances, 
    and Pausible meaning the system can interrupt the routine or command if necessary. Below that is the "Self-Defined Tag" menu,
    where you can create your own tags and assign them to a routine. Self-Defined tags cannot be assigned to commands. Click the 
    "Add new tag" button when you would like to add a new Self-Defined tag. 
    </p>
    <br>
    <p>
    The tags in both menus are draggable, meaning you can click and hold on them to drag into the boxes associated with
    the routine or command. If you would like to remove a tag from a routine or command, simply click the "X" located
    next to that tag when it is in the box. (TODO Include demo video?)
     </p>
<!--  TODO -->
</div>
<br><br><br>

{% for message in get_flashed_messages() %}
  <div class="container">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
{% endfor %}

<div class="container">
<!--    Drag and drop reference: https://codepen.io/ovvn/pen/Nqxzjg -->
  <div class="row">
    <div class="col">
      <!-- ---------------------------  -->
      <!--   Tagging at routine level   -->
      <!-- ---------------------------  -->
      <div class="row">
        <div class="col-md-auto">
          <b>Routine {{ idx }}</b>: {{ rtn_info["rtn_name"] }}
        </div>
        <div class="dropzone col" id="dropzone-rtn" data-rid="{{ rid }}">
          {% if not rtn_sys_tag and not rtn_cus_tags %}
            &nbsp;
          {% endif %}
          {% if rtn_sys_tag %}
            {{ rtn_sys_tag }}
            <button type="button" class="btn btn-default btn-xs remove tag-remove"
                    onclick="window.location.href=
                    '{{ url_for('remove_rtn_sys_tag', rid=rid, idx=idx) }}';">
              X
              <!-- <span class="glyphicon glyphicon-trash"></span> -->
            </button>
          {% endif %}

          {% for cus_tag in rtn_cus_tags %}
            {{ cus_tag }}
            <button type="button" class="btn btn-default btn-xs remove tag-remove"
                    onclick="window.location.href=
                    '{{ url_for('remove_cus_tag', rid=rid, idx=idx, tag_name=cus_tag) }}';">
              X
              <!-- <span class="glyphicon glyphicon-trash"></span> -->
            </button>
          {% endfor %}
        </div>
      </div>
      <!-- ----------------------------- -->
      <!-- System tag for Command 1 only -->
      <!-- ----------------------------- -->
      {% if rtn_info["cmd1"] %}
        <div class="row">
          <div class="col-md-auto">
            <b>Command 1</b>: {{ rtn_info["cmd1"] }}
          </div>
          <div class="dropzone col" id="dropzone-cmd1">
            {% if cmd1_tag %}
              {{ cmd1_tag }}
              <button type="button" class="btn btn-default btn-xs remove tag-remove"
                      onclick="window.location.href=
                      '{{ url_for('remove_cmd1_tag', rid=rid, idx=idx) }}';">
                X
              </button>
            {% else %}
              &nbsp;
            {% endif %}
          </div>
        </div>
      {% endif %}
      <!-- ----------------------------- -->
      <!-- System tag for Command 2 only -->
      <!-- ----------------------------- -->
      {% if rtn_info["cmd2"] %}
        <div class="row">
          <div class="col-md-auto">
            <b>Command 2</b>: {{ rtn_info["cmd2"] }}
          </div>
          <div class="dropzone col" id="dropzone-cmd2">
            {% if cmd2_tag %}
              {{ cmd2_tag }}
              <button type="button" class="btn btn-default btn-xs remove tag-remove"
                      onclick="window.location.href=
                      '{{ url_for('remove_cmd2_tag', rid=rid, idx=idx) }}';">
                X
              </button>
            {% else %}
              &nbsp;
            {% endif %}
          </div>
        </div>
      {% endif %}
      <!--   Browsing among different routines   -->
      <form action="{{ url_for('tag', idx=idx )}}" method="POST">
        {% if idx > 1 %}
          <input class="btn btn-outline-secondary"
                 type="submit" name="tag-page-action" value="Previous">
        {% endif %}
        {% if idx < total_rtn %}
          <input class="btn btn-outline-secondary"
                 type="submit" name="tag-page-action" value="Next">
        {% else %}
          <input class="btn btn-outline-primary"
                 type="submit" name="tag-page-action" value="Finish">
        {% endif %}
      </form>
    </div>
    <div class="col-md-auto">
      <div class="right-panel">
        <h4> System tags</h4>
        <div class="modules" id="modules">
          <p class="drag"><a class="btn btn-default">Uninterruptible</a></p>
          <p class="drag"><a class="btn btn-default">Pausable</a></p>
        </div>
        <h4> Self-defined tags </h4>
        <div class="container">

          <!-- Button trigger modal -->
          <div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
          <div class="modal-dialog modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Label">Add a task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Pop-up Session Input Area -->
            <div class="modal-body">
              <div class="input-group mb-3">
                <span class="input-group-text" id="task-form-display">Tag</span>
                <input type="text" class="form-control data-tag-name"
                       placeholder="Tag name" aria-label="task-name"
                       aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="task-form-priority">Priority</span>
                <input type="text" class="form-control tag-priority"
                       placeholder="priority (1-10), default 5" aria-label="task-name"
                       aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
                </button>
                <button id="submit-task" type="button" class="btn btn-primary">
                  Save changes
                </button>
            </div>
          </div> <!-- End of modal-dialog modal-content -->
          </div>
        </div>
        <!--  Add tag button  -->
        <button type="button" class="btn btn-outline-info btn-sm"
                data-bs-toggle="modal" data-bs-target="#task-modal"
                data-source="New Tag">
          Add New Tag
        </button>

        <div class="container table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="task">Tag Name</th>
                <th class="status">Priority</th>
                <th class="update">Edit</th>
                <th class="update">Remove</th>
            </tr>
            </thead>

            <tbody>
            {% for tag in all_cus_tag %}
                <tr>
                    <td>
                      <p class="drag"><a class="btn btn-default">{{ tag.name }}</a></p>
                    </td>
                    <td>{{ tag.priority }}</td>
                    <td>
                      <button type="button" class="btn btn-outline-info btn-sm"
                              data-bs-toggle="modal" data-bs-target="#task-modal"
                              data-source="{{ tag.name }}" data-priority="{{ tag.priority }}">
                        <i class="fa fa-pen fa-1" aria-hidden="true"></i>
                      </button>
                    </td>

                    <td>
                      <button class="btn btn-outline-secondary btn-sm remove cus-tag-remove"
                              data-source="{{ tag.name }}" type="button">
                        <i class="fa fa-trash fa-1" aria-hidden="true"></i>
                      </button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

{% endblock %}