{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="container">
  Some brief definition (for user's convenience)
<!--  TODO -->
</div>
<br><br><br>

<div class="container">
<!--    Drag and drop reference: https://codepen.io/ovvn/pen/Nqxzjg -->
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-md-auto">
          <b>Routine {{ rid }}</b>: {{ rtn_info["rtn_name"] }}
        </div>
        <div class="dropzone col" id="dropzone-rtn"></div>
      </div>
      <div class="row">
        <div class="col-md-auto">
          <b>Command 1</b>: {{ rtn_info["cmd1"] }}
        </div>
        <div class="dropzone col" id="dropzone-cmd1"></div>
      </div>
      <div class="row">
        <div class="col-md-auto">
          <b>Command 2</b>: {{ rtn_info["cmd2"] }}
        </div>
        <div class="dropzone col" id="dropzone-cmd2"></div>
      </div>
      <form action="/tag" method="POST">
        {% if rid > 1 %}
          <input type="submit" name="tag-page-action" value="Previous">
<!--          <button class="btn btn-secondary pull-right">Previous</button>-->
        {% endif %}
        {% if rid < total_rtn %}
          <input type="submit" name="tag-page-action" value="Next">
<!--          <button class="btn btn-secondary pull-right">Next</button>-->
        {% else %}
          <input type="submit" name="tag-page-action" value="Finish">
      </form>
      {% endif %}
    </div>
    <div class="col-md-auto">
      <div class="right-panel">
        <h4> System tags</h4>
        <div class="modules" id="modules">
          <p class="drag"><a class="btn btn-default">Uninterruptible</a></p>
          <p class="drag"><a class="btn btn-default">Time Guarantee</a></p>
        </div>
        <h4> Self-defined tags </h4>
        <div class="modules" id="modules-ct">
          <p> Add new tag </p>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

{% endblock %}