{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
  <h4>Interface Overview</h4>
  The interface you see below is what you will be using in this study.
  You'll need to use for eight smart home routines. <br/>
  Here is a video tutorial about how to use it.
  <br/>
  <video width="280" height="210" controls>
    <source src="{{ url_for('static', filename='video/tag-tutorial.mov') }}" type="video/mp4">
  </video>

  <details>
    <summary>
      Click for a text version tutorial.
    </summary>
    <div class="indented">
      <p>
        On the <i>left hand</i>, you will see a <strong>routine</strong>, its associated <strong>commands</strong>,
        along with their respective <strong>boxes</strong>. The <strong>box</strong> is used to put
        the <strong>tags</strong> that you can drag and drop from the <i>right hand panel</i>
      </p>
      <p>
        The <i>right hand panel</i> contains two menus that include different tags. <br/>
        Top menu includes two types of <strong>System Tags</strong>:
        <ul>
          <li>
            <i><strong>No interruption</strong></i>:
            routine/command with this tag will finish without interruption once it starts.
          </li>
          <li>
            <i><strong>OK to pause</strong></i>:
            system may pause the routine/command if needed, but will
            continue to execute afterwards until reaching the specified time length.
          </li>
        </ul>
      </p>
      <p>
        In Bottom <strong>Self-Defined Tags</strong> menu, you can
        <ul>
          <li>create your own tags to specify what you value about a routine
            such as "energy-saving" and "safety".
          </li>
          <li>
            specify the priority of the tag. A higher priority means you values more
            about the routines with this tag.
          </li>
        </ul>
        Self-Defined tags cannot be assigned to commands. You can add a new tag through
        "Add New Tag", edit, and delete existing self-defined tags.
      </p>
      <p>
        The tags in both menus are draggable, meaning you can click and hold on them to drag into the boxes associated with
        the routine or command. If you would like to remove a tag from a routine or command, simply click the
        <i class="fa fa-trash fa-1" aria-hidden="true"></i>
        located next to that tag when it is in the box.
      </p>
    </div>
  </details>
  <br>
</div> <!-- End for interface tutorial -->
<br/>
{% for message in get_flashed_messages() %}
  <div class="container">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
{% endfor %}

<div class="container">
<!--    Drag and drop reference: https://codepen.io/ovvn/pen/Nqxzjg -->
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Tagging System Interface</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <!-- Left panel -->
        <div class="col">
          <!-- ---------------------------  -->
          <!--   Tagging at routine level   -->
          <!-- ---------------------------  -->
          <div class="row">
            <div class="col-md-6 col-xs-4">
              <b>Routine {{ idx }}</b>: {{ rtn_info["rtn_name"] }}
              <p><small><i>This is a {{ rtn_info["rtn_description"] }}</i></small></p>
            </div>
            <div class="dropzone col col-xs-4" id="dropzone-rtn" data-rid="{{ rid }}">
              {% if not rtn_sys_tag and not rtn_cus_tags %}
                &nbsp;
              {% endif %}
              {% if rtn_sys_tag %}
              <span class="btn btn-light tag-item-container">
                {{ rtn_sys_tag }}
                <button type="button" class="btn btn-default btn-xs remove tag-item"
                        onclick="window.location.href=
                        '{{ url_for('remove_rtn_sys_tag', rid=rid, idx=idx) }}';">
                   <i class="fa fa-trash fa-1" aria-hidden="true"></i>
                </button>
              </span>
              {% endif %}

              {% for cus_tag in rtn_cus_tags %}
              <span class="btn btn-light tag-item-container">
                {{ cus_tag }}
                <button type="button" class="btn btn-default btn-xs remove tag-item"
                        onclick="window.location.href=
                        '{{ url_for('remove_cus_tag', rid=rid, idx=idx, tag_name=cus_tag) }}';">
                  <i class="fa fa-trash fa-1" aria-hidden="true"></i>
                </button>
              </span>
              {% endfor %}
            </div>
          </div>
          <!-- ----------------------------- -->
          <!-- System tag for Command 1 only -->
          <!-- ----------------------------- -->
          {% if rtn_info["cmd1"] %}
            <div class="row">
              <div class="col-md-auto">
                <b>Command 1</b>: {{ rtn_info["cmd1"] }}
              </div>
              <div class="dropzone col" id="dropzone-cmd1">
                {% if cmd1_tag %}
                <span class="btn btn-light tag-item-container">
                  {{ cmd1_tag }}
                  <button type="button" class="btn btn-default btn-xs remove tag-item"
                          onclick="window.location.href=
                          '{{ url_for('remove_cmd1_tag', rid=rid, idx=idx) }}';">
                    <i class="fa fa-trash fa-1" aria-hidden="true"></i>
                  </button>
                </span>
                {% else %}
                  &nbsp;
                {% endif %}
              </div>
            </div>
          {% endif %}
          <!-- ----------------------------- -->
          <!-- System tag for Command 2 only -->
          <!-- ----------------------------- -->
          {% if rtn_info["cmd2"] %}
            <div class="row">
              <div class="col-md-auto">
                <b>Command 2</b>: {{ rtn_info["cmd2"] }}
              </div>
              <div class="dropzone col" id="dropzone-cmd2">
                {% if cmd2_tag %}
                <span class="btn btn-light tag-item-container">
                    {{ cmd2_tag }}
                    <button type="button" class="btn btn-default btn-xs remove tag-item"
                            onclick="window.location.href=
                            '{{ url_for('remove_cmd2_tag', rid=rid, idx=idx) }}';">
                      <i class="fa fa-trash fa-1" aria-hidden="true"></i>
                    </button>
                  </span>
                {% else %}
                  &nbsp;
                {% endif %}
              </div>
            </div>
          {% endif %}
          <!--   Browsing among different routines   -->
          <form action="{{ url_for('tag', idx=idx )}}" method="POST">
            {{ reason_form.hidden_tag() }}
            Please explain your tagging decisions. <br/>
            {{ reason_form.reason(class="form-control") }}
            <br/>
            {% if idx > 1 %}
              <input class="btn btn-outline-secondary"
                     type="submit" name="tag-page-action" value="Previous">
            {% endif %}
            {% if idx < total_rtn %}
              {% if rtn_sys_tag or rtn_cus_tags or cmd1_tag or cmd2_tag or reason_form.reason.data %}
                <input class="btn btn-outline-secondary"
                       type="submit" name="tag-page-action" value="Next">
              {% else %}
                <input class="btn btn-outline-secondary delay-loading"
                       type="submit" name="tag-page-action" value="Next">
              {% endif %}
            {% else %}
              {% if rtn_sys_tag or rtn_cus_tags or cmd1_tag or cmd2_tag or reason_form.reason.data%}
                <input class="btn btn-outline-primary"
                       type="submit" name="tag-page-action" value="Finish">
              {% else %}
                <input class="btn btn-outline-primary delay-loading"
                       type="submit" name="tag-page-action" value="Finish">
              {% endif %}
            {% endif %}
          </form>
        </div>

        <!-- right panel -->
        <div class="col-md-5">
        <div class="right-panel">
          <!-- ---------------- -->
          <!-- System tag panel -->
          <!-- ---------------- -->
          <div class="card" style="margin-bottom:5px">
            <div class="card-body">
              <h5 class="card-title">System Tags</h5>
              {% if rtn_info["type"] == "long" %}
                <a class="btn btn-outline-secondary">
                  <span class="drag drag-handle">No Interruption</span>
                </a>
                <a class="btn btn-outline-secondary">
                  <span class="drag drag-handle">OK to Pause</span>
                </a>
              {% else %}
              <i>System tags are disabled for short routines</i>
              <a class="btn btn-secondary">
                  <span class="drag-handle"> No Interruption </span>
              </a>
              <a class="btn btn-secondary">
                  <span class="drag-handle">OK to Pause</span>
                </a>
              {% endif %}
            </div>
          </div>
          <!-- ---------------- -->
          <!-- Self-defined tag panel -->
          <!-- ---------------- -->
          <div class="container">
            <!-- Button trigger modal -->
            <div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
            <div class="modal-dialog modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="Label">Add a Tag</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <!-- Pop-up Session Input Area -->
              <div class="modal-body">
                <small><i>Please add a tag to show what you value for a routine.</i></small>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="task-form-display">Tag</span>
                  <input type="text" class="form-control data-tag-name"
                         maxlength="20"
                         placeholder="Tag name (max 20 characters)" aria-label="task-name"
                         aria-describedby="basic-addon1">
                </div>
                <small><i>Put a higher priority number for tags you value more.</i></small>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="task-form-priority">Priority</span>
                  <input type="number" class="form-control tag-priority"
                         min="1" max="10" value="5"
                         placeholder="priority (1-10), default 5" aria-label="task-name"
                         aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                  </button>
                  <button id="submit-task" type="button" class="btn btn-primary">
                    Save changes
                  </button>
              </div>
            </div> <!-- End of modal-dialog modal-content -->
            </div>
          </div>
          <!--  Add tag button  -->
          <div class="card" style="margin-bottom:10px">
            <div class="card-body">
              <h5 class="card-title">
                <span>Self-Defined Routine Tags</span>
              </h5>
              <button type="button" class="btn btn-outline-info btn-sm"
                      data-bs-toggle="modal" data-bs-target="#task-modal"
                      data-source="New Tag">
                Add New Tag
              </button>
              <span> e.g. energy saving</span>
              <div class="container table-responsive" style="margin-top:20px">
              <table class="table">
                <thead>
                <tr>
                    <th class="task">Tag Name</th>
                    <th class="status">Priority</th>
                    <th class="update">Edit</th>
                    <th class="update">Del.</th>
                </tr>
                </thead>

                <tbody>
                {% for tag in all_cus_tag %}
                  <tr>
                  <td>
                    <a class="btn btn-outline-secondary"
                       style="text-align:left; line-height:1.2; width:100%;">
                      <span class="drag drag-handle">{{ tag.name }}</span>
                    </a>
                  </td>
                  <td style="text-align:center">{{ tag.priority }}</td>
                  <td>
                    <button type="button" class="btn btn-outline-info btn-sm"
                            data-bs-toggle="modal" data-bs-target="#task-modal"
                            data-source="{{ tag.name }}" data-priority="{{ tag.priority }}">
                      <i class="fa fa-pen fa-1" aria-hidden="true"></i>
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-outline-secondary btn-sm remove cus-tag-remove"
                            data-source="{{ tag.name }}" type="button">
                      <i class="fa fa-trash fa-1" aria-hidden="true"></i>
                    </button>
                  </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              </div> <!-- End of table area-->
              <small><i>Note: put higher priority for the tags you value more.</i></small>
            </div> <!-- End of Self-define tag card body for table -->
          </div> <!-- End of Self-define tag whole area -->
        </div>
      </div></div>  <!-- end of container for right panel -->
    </div>  <!-- end of card body -->
  </div> <!-- end of card -->
</div>

{% endblock %}